:root {
  --black: #181818;
  --black2: #272727;
  --white: #FFFFFF;
  --transparentBlack: #18181847;
  --sliderLeftWhite: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  --shadowInsetAlt: 0px 1px 3px 0px #0000001A inset, 0px 2px 1px 0px #0000000F inset, 0px 1px 1px 0px #00000012 inset;
  --shadowInset: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
  --shadowCard: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
  --shadowSliderInput: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 4px 1px #0000002E;
  --shadowLightBottom: 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
  --gradientGroup: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.24) 80%, rgba(0, 0, 0, 0.4) 100%);
  --gradientLight: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.24) 66%, rgba(0, 0, 0, 0.36) 100%);
  --gradientLightBottom: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(24, 24, 24, 0.4) 100%);
  --defaultFont: 18px;
  --basicMargin: 24px;
  --corners: 12px;
}

body {
  background-color: var(--black);
  margin: 0;
}

h1 {
  margin: 24px 0 4px 60px;
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
}

.toggle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 40px;
  width: 72px;
  border-radius: 20px;
  background: var(--transparentBlack);
  -webkit-box-shadow: var(--shadowInset);
          box-shadow: var(--shadowInset);
  padding: 4px;
}

.toggle .switcher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 16px;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.toggle .switcher:checked {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.toggleSmall {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 30px;
  width: 54px;
  border-radius: 15px;
  background: var(--transparentBlack);
  -webkit-box-shadow: var(--shadowInset);
          box-shadow: var(--shadowInset);
  padding: 3px;
}

.toggleSmall .switcher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 12px;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.toggleSmall .switcher:checked {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.slider {
  margin: 0 auto 0 auto;
  width: 280px;
  height: 8px;
  background: var(--transparentBlack);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .progress {
  width: 50%;
  height: 8px;
  border-radius: 4px;
  margin-right: -50%;
  background: var(--sliderLeftWhite);
}

.slider .sliderShadow {
  /* sits above progress*/
  width: 280px;
  height: 8px;
  border-radius: 4px;
  margin-right: -280px;
  -webkit-box-shadow: var(--shadowInset);
          box-shadow: var(--shadowInset);
}

.slider input[type=range] {
  margin: 0;
  width: 280px;
  height: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border-radius: 4px;
  outline: none;
}

.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--white);
  border-radius: 8px;
  -webkit-box-shadow: var(--shadowSliderInput);
          box-shadow: var(--shadowSliderInput);
  cursor: pointer;
}

.slider input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: var(--shadowSliderInput);
  cursor: pointer;
}

#header {
  height: 104px;
  background: var(--white);
  border-radius: 0 0 16px 16px;
}

#scenes {
  height: 252px;
  margin: 4px 0 24px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#scenes .scene {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 152px;
  height: 118px;
  margin: 0 8px;
  background: var(--black2);
  border-radius: var(--corners);
  -webkit-box-shadow: var(--shadowCard);
          box-shadow: var(--shadowCard);
  padding: 20px 20px 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#scenes .scene .sceneName {
  width: 112px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#scenes .scene .sceneName span {
  margin: 0 2.5px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: var(--defaultFont);
  line-height: 22.5px;
  text-justify: center;
  color: var(--white);
}

#scenes .scene .sceneGradient {
  width: 112px;
  height: 16px;
  border-radius: 8px;
  -webkit-box-shadow: var(--shadowInset);
          box-shadow: var(--shadowInset);
  background: var(--white);
}

#scenes .scene .sceneGradient .blurEffect {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

#zones {
  margin: 4px 0 24px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#zones .zone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  height: 88px;
  margin: 0 8px;
  padding: 16px 20px;
  border-radius: var(--corners);
  background: var(--gradientGroup), #8DD3B5;
  -webkit-box-shadow: var(--shadowCard);
          box-shadow: var(--shadowCard);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#zones .zone .top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#zones .zone .top .zoneName {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: var(--defaultFont);
  line-height: 22.5px;
  color: var(--white);
}

#lights {
  margin: 4px 0 24px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#lights .light {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 152px;
  height: 240px;
  margin: 0 8px;
  background: #8DD3B5;
  border-radius: var(--corners);
  -webkit-box-shadow: var(--shadowCard);
          box-shadow: var(--shadowCard);
}

#lights .light .gradient {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--gradientLight);
  border-radius: var(--corners);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lights .light .gradient .top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 156px;
  padding: 24px 20px 19px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lights .light .gradient .top .icon {
  height: 48px;
  width: 48px;
  fill: var(--white);
  stroke: none;
  stroke-width: 0;
}

#lights .light .gradient .top .lightName {
  width: 112px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#lights .light .gradient .top .lightName span {
  margin: 0 2.5px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: var(--defaultFont);
  line-height: 22.5px;
  text-justify: center;
  color: var(--white);
}

#lights .light .gradient .bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 84px;
  padding: 22px 40px;
  background: var(--gradientLightBottom);
  border-radius: 0 0 var(--corners) var(--corners);
  -webkit-box-shadow: var(--shadowInset);
          box-shadow: var(--shadowInset);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */