body {
  background-color: #181818;
  margin: 0;
}

h1 {
  margin: 24px 0 4px 60px;
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  cursor: default;
}

.toggle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 40px;
  width: 72px;
  border-radius: 20px;
  background: #18181847;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
          box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
  padding: 4px;
  cursor: pointer;
}

.toggle .switcher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  cursor: pointer;
}

.toggle .switcher:checked {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.toggleSmall {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 30px;
  width: 54px;
  border-radius: 15px;
  background: #18181847;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
          box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
  padding: 3px;
  cursor: pointer;
}

.toggleSmall .switcher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 12px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  cursor: pointer;
}

.toggleSmall .switcher:checked {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.slider {
  margin: 0 auto 0 auto;
  width: 280px;
  height: 8px;
  background: #18181847;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .progress {
  width: 50%;
  height: 8px;
  border-radius: 4px;
  margin-right: -50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.6)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 100%);
}

.slider .sliderShadow {
  /* sits above progress*/
  width: 280px;
  height: 8px;
  border-radius: 4px;
  margin-right: -280px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
          box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
}

.slider input[type=range] {
  margin: 0;
  width: 280px;
  height: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 4px 1px #0000002E;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 4px 1px #0000002E;
  cursor: pointer;
}

.slider input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 4px 1px #0000002E;
  cursor: pointer;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#content #right {
  width: 100%;
}

#header {
  height: 40px;
  background: transparent;
  border-radius: 0 0 16px 16px;
}

#scenesWrapper {
  margin: 4px 0 24px 48px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#scenesWrapper::-webkit-scrollbar {
  display: none;
}

#scenesWrapper #scenes {
  height: 252px;
  margin: 0;
  -webkit-transition: margin 500ms;
  transition: margin 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#scenesWrapper #scenes .scene {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 152px;
  height: 118px;
  margin: 0 8px;
  background: #272727;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
  padding: 20px 12px 16px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#scenesWrapper #scenes .scene .sceneName {
  width: 128px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#scenesWrapper #scenes .scene .sceneName span {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22.5px;
  text-justify: center;
  color: #FFFFFF;
}

#scenesWrapper #scenes .scene .sceneName span.word {
  margin: 0 2.5px;
}

#scenesWrapper #scenes .scene .sceneGradient {
  width: 112px;
  height: 16px;
  border-radius: 8px;
  background: #FFFFFF;
}

#scenesWrapper #scenes .scene .sceneGradient .blurEffect {
  -webkit-box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
          box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

#zones, #rooms {
  margin: 4px 0 24px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#zones .zone, #rooms .zone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  height: 88px;
  margin: 0px 8px 16px 8px;
  border-radius: 12px;
  background: #FFF;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
}

#zones .zone .blurEffect, #rooms .zone .blurEffect {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  height: 88px;
  border: solid 0px transparent;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 20px;
}

#zones .zone .blurEffect .top, #rooms .zone .blurEffect .top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#zones .zone .blurEffect .top .zoneName, #rooms .zone .blurEffect .top .zoneName {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22.5px;
  color: #FFFFFF;
  cursor: default;
}

#lightsWrapper {
  margin: 4px 0 24px 48px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#lightsWrapper::-webkit-scrollbar {
  display: none;
}

#lightsWrapper #lights {
  margin: 0;
  width: 168px;
  -webkit-transition: margin 500ms;
  transition: margin 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#lightsWrapper #lights .light {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 152px;
  height: 240px;
  margin: 0 8px;
  background: #FFF;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
          box-shadow: 0px 1px 3px 0px #00000033, 0px 2px 1px 0px #0000001F, 0px 1px 1px 0px #00000024;
}

#lightsWrapper #lights .light .gradient {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(66%, rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.36)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.24) 66%, rgba(0, 0, 0, 0.36) 100%);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lightsWrapper #lights .light .gradient .top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 156px;
  padding: 24px 12px 19px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lightsWrapper #lights .light .gradient .top .icon {
  height: 48px;
  width: 48px;
  fill: #FFFFFF;
  stroke: none;
  stroke-width: 0;
}

#lightsWrapper #lights .light .gradient .top .lightName {
  width: 128px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#lightsWrapper #lights .light .gradient .top .lightName span {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22.5px;
  text-justify: center;
  color: #FFFFFF;
  cursor: default;
}

#lightsWrapper #lights .light .gradient .top .lightName span.word {
  margin: 0 2.5px;
}

#lightsWrapper #lights .light .gradient .top .hexCode {
  display: none;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22.5px;
  color: #272727;
  cursor: pointer;
}

#lightsWrapper #lights .light .gradient .top .hexCode input {
  font: inherit;
  color: inherit;
  width: 70px;
  background: none;
  border: none;
  cursor: inherit;
}

#lightsWrapper #lights .light .gradient .top .hexCode input:focus {
  outline: none;
}

#lightsWrapper #lights .light .gradient .top .hexCode:focus-within {
  color: #181818;
  border-bottom: solid 2px #181818;
  margin-bottom: -2px;
}

#lightsWrapper #lights .light .gradient .bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 84px;
  padding: 22px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(24, 24, 24, 0.4)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(24, 24, 24, 0.4) 100%);
  border-radius: 0 0 12px 12px;
  -webkit-box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
          box-shadow: 0px 1px 3px 0px #00000033 inset, 0px 2px 1px 0px #0000001F inset, 0px 1px 1px 0px #00000024 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */